.createprofile-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    background-color: black;
    color: white;
    border-bottom: 12px solid #222;
    overflow-x: hidden;
}

.createprofile-text {
    position: relative;
    right: 8%;
}

.createprofile-text-title {
    font-size: 3.625rem;
    font-weight: 600;
}

.createprofile-text-description {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}

.createprofile-image>img {
    height: auto;
    width: 40vw;
    object-fit: contain;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .createprofile-text {
        left: 0%;
        text-align: center;
    }

    .createprofile-text-title {
        font-size: 1.625rem;
    }

    .createprofile-text-description {
        font-size: 1.125rem;
        align-items: center;
    }

    .createprofile-contents {
        flex-direction: column;
    }

    .createprofile-image>img {
        width: 80vw;
    }
}