.footer {
    background-color: black;
}

.footer-container {
    padding: 50px 5%;
    margin: 0 auto;
}

.footer-contents {
    color: #737373;
    padding-bottom: 20px;
}

.footer-top {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}

.footer-top>p {
    font-size: 1.25em;
    margin: 0 0 30px;
    padding: 0;
}

.footer-top>p>a {
    color: #737373;
    text-decoration: none;
}

.footer-top>ul {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.footer-top>ul>li {
    margin-left: 1rem;
    display: inline-block;
    margin-bottom: 20px;
    min-width: 100px;
    width: 20%;
    cursor: pointer;
}

.footer-top>ul>li:hover {
    text-decoration: underline;
}

.language-picker {
    margin-top: 30px;
}

.language-picker-container>select {
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #000;
    border: 3px solid #333;
    color: #999;
    font-size: 15px;
}

.footer-bottom {
    margin-left: 3px;
    margin-top: 40px;
    font-size: 13px;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .footer-top {
        padding-top: 0;
    }

    .footer-top>p {
        font-size: 1.15rem;
    }

    .footer-top>ul {
        font-size: 12px;
    }

    .footer-top>ul>li {
        list-style: none;
        margin-left: 0;
    }

    .footer-bottom {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-top>ul>li {
        width: 50%;
    }
}